<form class="double_form" id="auth">
  <div class="choice_button">
    <div class="login_button_0">
      <div class="small-text-bold text">Sign in</div>
    </div>
    <div class="register_button_0">
      <div class="small-text-bold text">Register</div>
    </div>
  </div>
  <div class="username_section">
    <div class="label">
      <div class="small-text-bold text">Username:</div>
    </div>
    <input id="email" type="text" class="input" name="login" required>
  </div>
  <div class="password_section">
    <div class="label">
      <div class="small-text-bold text">Password:</div>
    </div>
    <input id="password" type="password" class="input" name="password" required>
  </div>
  <div class="enter_section">
    <button type="submit" class="enter_button">
      <div class="small-text-bold text">Sign in</div>
    </button>
  </div>
</form>

{{!--
<script src="/js/auth.js"></script> --}}