<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> Plan-For-Ya </title>
  <link rel="stylesheet" href="/CSS/fonts.css" type="text/css">
  <link rel="stylesheet" href="/CSS/auth.css" type="text/css">
</head>

<body>
  <main>
    {{> title_card}}
    {{> double_form}}
  </main>
</body>

</html>