<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/user-home.css">
  <script src="/javascript/jquery-3.6.1.min.js"></script>
  <script src="/javascript/user-home.js"></script>

</head>

<body class="user-home">
  <header>
    <section class="header-bar">
      <h1 class="big-text-bold">Plan For You</h1>
    </section>

    <section class="users-buttons-bar">
      <div class="users-buttons-bar_users-button">
        <div class="users-buttons-bar_users-button_text">
          <p class="small-text-bold">{{nickname}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a class="users-buttons-bar_users-button_text_sign-out" onclick="sign_out()">Sign Out</a>
          </p>
        </div>
      </div>
    </section>

    <section class="create-plan-section">
      <button class="create-plan-section_button" onclick="create_new_plan()">
        <p class="small-text-bold button-text">+ Create new meeting plan</p>
      </button>
    </section>
  </header>

  <main>
    <section class="plan-list-viewer">
      <div class="plan-list-viewer_header">
        <p class="small-text-bold plan-list-viewer_header_Name">Name</p>
        <p class="small-text-bold plan-list-viewer_header_Action">Actions</p>
      </div>

      <div id="plan-list-viewer_plans">
        {{#each meetingPlans}}
        <div class="plan-list-viewer_plan">
          <img class="plan-list-viewer_plan_plan-icon" src="/img/plan_icon.jpg" />
          <a class="small-text-bold plan-list-viewer_plan_text" href="/view/plan/meeting/{{uuid}}">{{planName}}</a>
          <img class="plan-list-viewer_plan_bin-icon" src="/img/bin_icon.png" onclick="delete_plan()" />
        </div>
        {{/each}}
      </div>


    </section>
  </main>



</body>

</html>