<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="header">
    <h1>Plan For You</h1>
  </div>

  <div class="buttons-bar">
    <p>{{username}} | <a>Sign Out</a></p>
  </div>

  <div class="create-plan-section">
    <button class="button_black create-button" onclick="f_create_new_plan()">+ Create new meeting plan</button>
  </div>

  <div class="plan-list">
    <div class="plan-list-header">
      <p>Name</p>
      <p>Actions</p>
    </div>

    <div class="plan-list-items">

    </div>


  </div>


</body>

</html>