<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/javascript/jquery-3.6.1.min.js"></script>
  <script src="/javascript/user-home.js"></script>

</head>

<body>
  <div class="header">
    <h1>Plan For You</h1>
  </div>

  <div class="buttons-bar">
    <p>{{nickname}} |
      <button class="button_black button_signOut" onclick="signout()">Sign Out</button>
    </p>
  </div>

  <div class="create-plan-section">
    <button class="button_black create-button" onclick="f_create_new_plan()">+ Create new meeting plan</button>
  </div>

  <div class="plan-list">
    <div class="plan-list-header">
      <p style="float:left; padding: 5px 100px; margin: 0 0">Name</p>
      <p style="float:right; padding: 5px 100px;  margin: 0 0">Actions</p>
    </div>

    <div id="planListItems">

      {{#each meetingPlans}}
      <li>{{planName}}</li>
      {{/each}}

    </div>


  </div>


</body>

</html>