/* Main Page (Register) */

html {
    position: relative;
    width: 100%;
    height: 733px;
    background: #FFFFFF;
}

main .title {
    position: absolute;
    width: 40%;
    height: 350px;
    left: 10%;
    top: 135px;
}

.title__text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 64px;
    line-height: 84px;
    color: #000000;
}

.title__text .bold {
    font-weight: bold;
}

.title__text .normal {
    font-weight: normal;
}


/* Input */

.form__input {
    box-sizing: border-box;
    width: 262px;
    height: 56px;
    border: 1px solid #000000;
    padding: 5px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


/* Sign in / Register Form */

main .form {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 330px;
    height: 504px;
    left: 55%;
    top: 75px;
    border: 1px solid #000000;
    border-radius: 30px;
}


/* Choice Buttons */

.form__choice {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 330px;
    height: 74px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form__choice__login__text {
    position: relative;
}

.form__choice__register_text {
    position: relative;
}

.form__choice__button.chosen {
    border-bottom-width: 5px;
}

.form__choice__button {
    box-sizing: border-box;
    width: 165px;
    height: 74px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #000000;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* Login Button */

.form__choice__button.login {}


/* Register Button */

.form__choice__button.register {
    border-left-width: 1px;
}


/* Username Section */

.form__username {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 35px;
    gap: 14px;
    width: 332px;
    height: 141px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


/* Label */

.form__username__label {
    width: 98px;
    height: 23px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


/* Password Section */

.form__password {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 35px;
    gap: 14px;
    width: 332px;
    height: 141px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}


/* Label */

.form__password__label {
    width: 95px;
    height: 23px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


/* Enter Section */

.form__enter {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 332px;
    height: 126px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}


/* Enter Button */

.form__enter__button {
    box-sizing: border-box;
    width: 258px;
    height: 69px;
    background: #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
    cursor: pointer;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form__enter__button:hover {
    background: white;
    color: black;
}

.form__enter__button__text {
    position: relative;
    justify-content: center;
}