.plan-meeting-answerer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;

  position: relative;
  width: 100%;

  background: #FFFFFF;
}

.plan-meeting-organizer .header {
  width: 100%;
}

.plan-meeting-organizer .title-bar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #000000;
}

.plan-meeting-organizer .title-bar__plan-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 2;
  flex-basis: 0;
  padding-left: 20px;
  color: #000000;
}

.plan-meeting-organizer .title-bar__user-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
}

.plan-meeting-organizer .settings-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
}

.plan-meeting-organizer .settings-bar__fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2%;
  column-gap: 4%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  flex-grow: 2;
  flex-basis: 0;
  flex-wrap: wrap;
}

.plan-meeting-organizer .settings-bar__fields__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.plan-meeting-organizer .settings-bar__fields__row__label {
  width: 20%;
  text-align: right;
}

.plan-meeting-organizer .settings-bar__fields__row__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40px;
  min-width: fit-content;
  box-sizing: border-box;
  border: 1.5px solid #000000;
  text-align: center;
}

.plan-meeting-organizer .settings-bar__fields__row__input.select {
  appearance: none;
}

.plan-meeting-organizer .settings-bar__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.plan-meeting-organizer .settings-bar__buttons__item {
  width: 200px;
}

.plan-meeting-organizer .schedule-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 100%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.plan-meeting-organizer .schedule-viewer__tabs {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 100%;
  height: 38px;

  background: #E4E4E4;
  border-bottom: 1px solid #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.plan-meeting-organizer .schedule-viewer__tabs__item {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  height: 100%;
  background: #E4E4E4;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}

.plan-meeting-organizer .schedule-viewer__tabs__item:hover {
  background: #F4F4F4;
}

.plan-meeting-organizer .schedule-viewer__tabs__item.selected {
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.plan-meeting-organizer .schedule-viewer__tabs__item.selected:hover {
  background: #FFFFFF;
}

.plan-meeting-organizer .schedule-viewer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .plan-meeting-organizer .schedule-viewer__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 640px) {
  .plan-meeting-organizer .settings-bar {
    flex-direction: column;
  }

  .plan-meeting-organizer .settings-bar__fields {
    flex-basis: auto;
  }

  .plan-meeting-organizer .settings-bar__buttons {
    flex-basis: auto;
    flex-direction: row;
  }

  .plan-meeting-organizer .settings-bar__buttons__item {
    width: auto;
  }
}