.rating-5-1,
.rating-4-1,
.rating-3-1,
.rating-2-1 {
  background: #FFD0D0;
}

.rating-5-2,
.rating-4-2 {
  background: #FFE0BC;
}

.rating-5-3,
.rating-3-2 {
  background: #FFFCB6;
}

.rating-5-4,
.rating-4-3 {
  background: #DAFFAB;
}

.rating-5-5,
.rating-4-4,
.rating-3-3,
.rating-2-2 {
  background: #BBFFBA;
}

.rating-unblocked {
  background-color: #FFFFFF;
}

.rating-blocked {
  background-color: #E4E4E4;
}