<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> Plan-For-Ya </title>
  <script src="/javascript/common/jquery-3.6.1.min.js"></script>
  <link rel="stylesheet" href="/css/common/fonts.css" type="text/css">
  <link rel="stylesheet" href="/css/pages/auth.css" type="text/css">
</head>

<body>
  <main>
    {{> title_card}}
    {{> double_form}}
  </main>
</body>

</html>