<!DOCTYPE html>
<html>

<head>
  {{> head}}
  <title>Plan For You - Main Page</title>
  <link rel="stylesheet" href="/css/pages/auth.css" type="text/css">
</head>

<body>
  <main>
    {{> title_card}}
    {{> double_form}}
  </main>
</body>

</html>