<!doctype html>

<head>
  <link href="/css/common/base.css" rel="stylesheet">
  <link href="/css/common/fonts.css" rel="stylesheet">
  <link href="/css/common/schedule.css" rel="stylesheet">
  <link href="/css/pages/plan-meeting-organizer.css" rel="stylesheet">
  <script src="/javascript/common/base.js"></script>
  <script src="/javascript/common/jquery-3.6.1.min.js"></script>
  <script src="/javascript/common/build-schedule.js"></script>
  <script>
    var planUuid = "{{uuid}}"
  </script>
</head>

<body class="plan-meeting-organizer">
  <header>
    <section class="title-bar">
      <div class="title-bar__home-button">
        <a href="/view/user/home"> <img class="title-bar__home-button_home-icon" src="/img/home_icon.png" /> </a>
      </div>
      <div class="title-bar__plan-name">
        <h1 class="big-text-bold">{{planName}}</h1>
      </div>
      <div class="title-bar__user-buttons">
        <p class="small-text-bold">{{user.nickname}}&nbsp;|&nbsp;<a class="title-bar__user-buttons_text_sign-out"
            onclick="signOut()">Sign Out</a></p>
      </div>
    </section>
    <section class="settings-bar">
      <div class="settings-bar__fields">
        <div class="settings-bar__fields__item">
          <div class="settings-bar__fields__item__label">
            <p class="small-text-bold">Week Count:</p>
          </div>
          <select class="settings-bar__fields__item__input select small-text-bold" id="week-count">
            <option class="small-text-bold" selected value="1">1</option>
            <option class="small-text-bold" value="2">2</option>
            <option class="small-text-bold" value="4">4</option>
          </select>
        </div>
        <div class="settings-bar__fields__item timeslot-length">
          <div class="settings-bar__fields__item__label">
            <p class="small-text-bold">Timeslot Length:</p>
          </div>
          <select class="settings-bar__fields__item__input select small-text-bold" id="timeslot-length">
            <option class="small-text-bold" value="30">30 minutes</option>
            <option class="small-text-bold" selected value="60">60 minutes</option>
            <option class="small-text-bold" value="90">90 minutes</option>
            <option class="small-text-bold" value="120">120 minutes</option>
          </select>
        </div>
        <div class="settings-bar__fields__item">
          <div class="settings-bar__fields__item__label">
            <p class="small-text-bold">Start Time:</p>
          </div>
          <div class="settings-bar__fields__item__input">
            <p class="small-text-bold" id="start-time">{{timeslotStartTimeMinutes}}</p>
          </div>
        </div>
        <div class="settings-bar__fields__item">
          <div class="settings-bar__fields__item__label">
            <p class="small-text-bold">Rating Range:</p>
          </div>
          <select class="settings-bar__fields__item__input select small-text-bold" id="rating-max">
            <option class="small-text-bold" value="2">2</option>
            <option class="small-text-bold" value="3">3</option>
            <option class="small-text-bold" value="4">4</option>
            <option class="small-text-bold" selected value="5">5</option>
          </select>
        </div>
      </div>
      <div class="settings-bar__buttons">
        <button class="settings-bar__buttons__item">
          <img class="settings-bar__buttons__item_icon" src="/img/update_icon.svg" />
          <p class="small-text-bold button-text  settings-bar__buttons__item_text">Update settings</p>
        </button>
        <button class="settings-bar__buttons__item">
          <img id="eye_icon" class="settings-bar__buttons__item_icon" src="/img/eyeClosed_icon.svg"
            onclick="publishLink()" />
          <p id="state_link" class="small-text-bold button-text settings-bar__buttons__item_text">Publish link</p>
        </button>
        <button class="settings-bar__buttons__item">
          <img class="settings-bar__buttons__item_icon" src="/img/caculator_icon.svg" />
          <p class="small-text-bold button-text settings-bar__buttons__item_text">Calculate best timeslots</p>
        </button>
      </div>
    </section>
  </header>
  <main>
    <section class="schedule-viewer">
      <div class="schedule-viewer__tabs">
        <div class="schedule-viewer__tabs__item selected">
          <p class="small-text-bold">Blocked Timeslots</p>
        </div>
        <div class="schedule-viewer__tabs__item">
          <p class="small-text-bold">Result</p>
        </div>
      </div>
      <div class="schedule-viewer__container">
        <div class="schedule" id="schedule">

        </div>
      </div>
    </section>
  </main>
  <script src="/javascript/common/click-hold-select.js"></script>
  <script src="/javascript/pages/plan-meeting-organizer.js"></script>
  <script>
    window.onload = function () {
      buildScheduleTable()
      loadConditions()
      addBlockedEventListeners()
    }
  </script>
</body>