<!DOCTYPE html>
<html lang="en">

<head>
  {{> head}}
  <title>Plan For You - User Home</title>
  <link rel="stylesheet" type="text/css" href="/css/pages/user-home.css">
  <script src="/javascript/pages/user-home.js"></script>

</head>

<body class="user-home">
  <header>
    <section class="header-bar">
      <h1 class="big-text-bold">Plan For You</h1>
    </section>

    <section class="users-buttons-bar">
      <div class="users-buttons-bar_users-button">
        <div class="users-buttons-bar_users-button_text">
          <p class="small-text-bold">{{nickname}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a class="users-buttons-bar_users-button_text_sign-out" onclick="signOut()">Sign Out</a>
          </p>
        </div>
      </div>
    </section>

    <section class="create-plan-section">
      <button class="create-plan-section_button" onclick="createNewPlan()">
        <p class="small-text-bold">+ Create new meeting plan</p>
      </button>
    </section>
  </header>

  <main>
    <section class="plan-list-viewer">
      <div class="plan-list-viewer_header">
        <p class="small-text-bold plan-list-viewer_header_Name">Name</p>
        <p class="small-text-bold plan-list-viewer_header_Action">Actions</p>
      </div>

      <div id="plan-list-viewer_plans">
        {{#each meetingPlans}}
        <div class="plan-list-viewer_plan">
          <img class="plan-list-viewer_plan_plan-icon" src="/img/plan_icon.jpg" />
          <a class="small-text-bold plan-list-viewer_plan_text" href="/view/plan/meeting/{{uuid}}">{{planName}}</a>
          <img id="delete_{{uuid}}" class="plan-list-viewer_plan_bin-icon" src="/img/bin_icon.png"
            onclick="deletePlan(this.id)" />
        </div>
        {{/each}}
      </div>


    </section>
  </main>



</body>

</html>