<!DOCTYPE html>
<html>

<head>
  {{> common_head}}
  <title>Plan For You - Main Page</title>
  <link rel="stylesheet" href="/css/pages/visitor-home.css" type="text/css">
  <script src="/javascript/pages/visitor-home.js"></script>
</head>

<body class="visitor-home">
  <main>
    <section class="title-auth-section">
      <div class="title-auth-section__title">
        <div class="bold">Plan For You</div>
        <div class="normal">Service that helps you make the best plans ever!</div>
      </div>
      <div class="title-auth-section__auth-form">
        {{> auth_form}}
      </div>
    </section>
  </main>
</body>

</html>